@import "./Base.scss";

//STICKY FOOTER
html,
body,
#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 138, 4, 0.096);
}


.main {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.orderPanel {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, 8rem);
  grid-template-columns: 10rem 1fr 10rem;
  gap: 7.5rem;

  @media only screen and (max-width: 699px) {
    grid-template-rows: 1fr repeat(2, 8rem);
    grid-template-columns: 8rem 8rem 8rem;
    gap: 3.5rem;
    justify-content: center;
    padding: 4rem 0 2rem 0;

  }

  @media only screen and (min-width: 700px) {
    //https://bitsofco.de/how-calc-works/
    padding: 2rem calc(100vw / 30);
  }

  @media only screen and (min-width: 1200px) {
    padding: 2rem 15rem;
  }

}

.footer {
  margin-top: auto;
}