.footer {
    box-shadow: 0 0 2rem .9rem rgba(5, 5, 5, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    letter-spacing: .5rem;
    font-size: 1.6rem;
    font-family: 'Dancing Script', cursive;

    @media only screen and (max-width: 699px) {
        letter-spacing: .2rem;
        font-size: 1.3rem;
    }
}