.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/ span 3;

    @media only screen and (max-width: 699px) {
        grid-column: 1/ span 3;
        grid-row: 1/2;
        padding-bottom: 2rem;
    }


    &__top {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bottom {
        position: relative;
        left: 50%;
        bottom: .1%;
        transform: translateX(-50.2%);
    }

    &__top,
    &__bottom {
        @media only screen and (max-width: 699px) {
            width: 80%;
        }

        @media only screen and (min-width: 700px) {
            width: calc(10vw + 15rem);
        }
    }

    &__orderedIngredient {
        margin-bottom: -1px;
        height: 10%;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (max-width: 699px) {
            height: 4rem;
            background-size: 80%;
        }

        @media only screen and (min-width: 700px) {
            background-size: calc(10vw + 15rem);
        }

        &--chickenBurger {
            background-image: url("../img/chickenBurger.png");
        }

        &--beefBurger {
            background-image: url("../img/beefBurger.png");
        }

        &--baconBurger {
            background-image: url("../img/baconBurger.png");
        }

        &--cheeseBurger {
            background-image: url("../img/cheeseBurger.png");
        }

        &--lettuceBurger {
            background-image: url("../img/lettuceBurger.png");
        }

        &--onionBurger {
            background-image: url("../img/onionBurger.png");
        }

        &--tomatoBurger {
            height: 7%;
            background-image: url("../img/tomatoBurger.png");

            @media only screen and (max-width: 699px) {
                height: 3rem;
            }
        }

        &--cucumberBurger {
            background-image: url("../img/cucumberBurger.png");
        }

        &--mushroomsBurger {
            background-image: url("../img/mushroomsBurger.png");
        }

        &--pepperBurger {
            background-image: url("../img/pepperBurger.png");
        }

        &--baconBurger,
        &--cheeseBurger,
        &--lettuceBurger,
        &--onionBurger,
        &--cucumberBurger {
            height: 5%;

            @media only screen and (max-width: 699px) {
                height: 2rem;
            }
        }

        &--mushroomsBurger,
        &--pepperBurger {
            height: 3%;

            @media only screen and (max-width: 699px) {
                height: 1.5rem;
            }
        }
    }
}

.burger-summary {
    height: 5rem;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: -10rem;
    position: relative;

    @media only screen and (max-width: 699px) {
        grid-column: 1/ span 3;
        grid-row: 4/5;
        margin-top: 0rem;
        width: 100%;
    }

    &__prize {
        font-size: 2rem;

        @media only screen and (max-width: 699px) {
            font-size: 1.8rem;
        }
    }
}

@media only screen and (min-width: 700px) {

    .burger__top,
    .burger__bottom,
    .burger-summary {
        width: calc(10vw + 15rem);
    }
}