.header {
    height: 5rem;
    box-shadow: 0 0 2rem .9rem rgba(5, 5, 5, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Kaushan Script', cursive;

    &__primary {
        letter-spacing: .3rem;
        font-size: 3.5rem;

        @media only screen and (max-width: 699px) {
            font-size: 2rem;
        }

        @media only screen and (max-width: 380px) {
            font-size: 1.6rem;
            line-height: 3;
        }
    }

    &__changesPanel {
        display: flex;
    }

    &__change-input {
        visibility: hidden;
    }

    &__mode {
        position: absolute;
        display: inline-block;
        right: 1rem;
        height: 2.2rem;
        width: 6rem;
        border-radius: 100rem;
        box-shadow: 0 0 .1rem .2rem rgba(5, 5, 5, 0.1);
        cursor: pointer;

        @media only screen and (max-width: 699px) {
            right: 1.6rem;
            height: 1.8rem;
            width: 5rem;
        }
    }

    &__sun::before {
        font-family: "Font Awesome 5 Free";
        content: '\f185';
        position: relative;
        font-size: 1.4rem;
        left: 10%;
        top: 16%;
        color: yellow;
        font-weight: 700;

        @media only screen and (max-width: 699px) {
            font-size: 1.3rem;
            left: 7%;
        }
    }

    &__moon::before {
        font-family: "Font Awesome 5 Free";
        content: '\f186';
        position: relative;
        font-size: 1.2rem;
        left: 50%;
        top: 12%;
        color: rgb(94, 69, 69);
        font-weight: 700;
        display: inline;

        @media only screen and (max-width: 699px) {
            font-size: 1rem;
        }
    }

    &__slider {
        position: absolute;
        height: 2.2rem;
        width: 2.2rem;
        left: -1%;
        bottom: 0;
        background-color: rgb(159, 151, 163);
        transition: .4s;
        border-radius: 50%;

        @media only screen and (max-width: 699px) {
            height: 1.83rem;
            width: 1.83rem;
        }
    }

    input:checked+&__mode {
        .header__slider {
            transform: translateX(4rem);
        }

    }

    &__language {
        position: absolute;
        right: 10rem;
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 100rem;

        @media only screen and (max-width: 699px) {
            bottom: 28%;
            right: 8rem;
        }
    }

    &__icon {
        cursor: pointer;

        &--pl {
            stroke: black;
            stroke-width: .5rem;
            stroke-linejoin: round;
        }
    }
}