.ingredientsPanel {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 2rem;

    @media only screen and (max-width: 699px) {
        margin-top: 2.5rem;
    }
}

.ingredientsInfo {
    padding-bottom: 1rem;

    @media only screen and (max-width: 699px) {
        font-size: 1.6rem;
    }
}

.ingredientsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 11rem);
    grid-auto-rows: 8rem;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;

    @media only screen and (max-width: 699px) {
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, 9rem);
    }

    @media only screen and (max-width: 1038px) {
        width: 100%;
    }
}