.ingredient {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    //border: 0;
    border-radius: 1rem;
    /* background-color: rgba(255, 238, 0, 0.233); */
    /* background-color: rgba(255, 238, 0, 0.527); */
}

.btn-chooseIngredient {
    background-color: rgba(255, 238, 0, 0.233);
    border: .1rem solid red;

    &:hover {
        border: .5rem solid green;
    }
}

.btn-chooseIngredient:disabled {
    background-color: grey;
    border: 0;
    opacity: 0.5;
    cursor: no-drop;

    &:hover {
        border: 0;
    }
}

.ingredient-chicken {
    background-image: url("../img/chicken.png");
    background-size: 80%;
    background-position: center;
}

.ingredient-beef {
    background-image: url("../img/beef.png");
    background-size: 50%;
    background-position: center;
}

.ingredient-bacon {
    background-image: url("../img/bacon.png");
    background-size: 80%;
    background-position: center;
}

.ingredient-cheese {
    background-image: url("../img/cheese.png");
    background-size: 80%;
    background-position: center;
}


.ingredient-lettuce {
    background-image: url("../img/lettuce.png");
    background-size: 50%;
    background-position: center;
}

.ingredient-onion {
    background-image: url("../img/onion.png");
    background-size: 100%;
    background-position: bottom;

    @media only screen and (max-width: 699px) {
        background-position: center;
    }
}

.ingredient-tomato {
    background-image: url("../img/tomato.png");
    background-size: 60%;
    background-position: center;
}

.ingredient-cucumber {
    background-image: url("../img/cucumber.png");
    background-size: 80%;
    background-position: center;
}

.ingredient-mushrooms {
    background-image: url("../img/mushrooms.png");
    background-size: 60%;
    background-position: center;
}

.ingredient-pepper {
    background-image: url("../img/pepper.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}