.ingredients-panel {
    /*     display: flex;
    justify-content: center;
    flex-direction: column; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    text-align: center;
    //background-color: red;
    margin-top: -5.5rem;
    width: 100%;
    margin: 0 auto;

    @media only screen and (max-width: 699px) {
        margin-top: 2rem;
    }
}

.ingredientsLeft {
    padding-bottom: 1rem;
}

.ingredients-list {
    /* border: 1px solid red; */
    display: grid;
    /*     width: 50%;
    margin: 0 auto; */
    //grid-template-columns: repeat(auto-fit, minmax(11rem, 11rem));
    grid-template-columns: repeat(auto-fit, 11rem);
    grid-auto-rows: 8rem;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;

    @media only screen and (max-width: 699px) {
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, 9rem);
    }

    @media only screen and (max-width: 1038px) {
        width: 100%;
    }
}